# Module 1: Introduction to Exploratory Analysis

What we'll be doing in this notebook:
-----

 1.  Checking variable type
 2.  Checking for missing variables 
 3.  Number of observations in the dataset
 4.  Descriptive statistics

### Import packages

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import dateutil.parser

# The command below means that the output of multiple commands in a cell will be output at once
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# The command below tells jupyter to display up to 80 columns, this keeps everything visible
pd.set_option('display.max_columns', 80)
pd.set_option('expand_frame_repr', True)

# Show figures in notebook
%matplotlib inline

### Import dataset

We read in our dataset

In [2]:
kiva_locations = pd.read_csv("/home/anilla/DataScience/DataScience1/data/Kenya/kiva_ke_locations.csv")
kiva_loans=pd.read_csv("/home/anilla/DataScience/DataScience1/data/Kenya/kiva_loans_ke.csv")
loan_theme=pd.read_csv("/home/anilla/DataScience/DataScience1/data/Kenya/loan_theme_ke.csv")

In the cell below, we take a random sample of 2 rows to get a feel for the data.

In [3]:
kiva_loans.sample(n=102)

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
3357,681643,250,250,Food,Food,to prepare food to sell.,KE,Kenya,Mombasa,KES,138.0,2014-03-11 07:58:07+00:00,2014-02-28 08:00:00+00:00,2014-03-12 14:45:20+00:00,14,7,"#First Loan, #Parent, #Woman Owned Biz",female,monthly,2014-03-11
65961,1235075,500,500,Fruits & Vegetables,Food,to buy more stock of fruits,KE,Kenya,Busia,KES,138.0,2017-02-09 06:40:55+00:00,2017-01-30 08:00:00+00:00,2017-03-06 01:13:58+00:00,14,6,"#Woman Owned Biz, #Repeat Borrower, #Vegan, us...",female,monthly,2017-02-09
8093,729244,175,175,Fish Selling,Food,to purchase bundles of fish for resale,KE,Kenya,Tiribe,KES,164.0,2014-06-23 12:00:14+00:00,2014-06-23 07:00:00+00:00,2014-06-30 09:38:06+00:00,14,7,user_favorite,female,irregular,2014-06-23
49024,1056381,200,200,Food Production/Sales,Food,"to purchase bundles of wheat flour, maize flou...",KE,Kenya,Mwambalazi,KES,164.0,2016-04-19 07:31:48+00:00,2016-03-22 07:00:00+00:00,2016-04-24 09:40:33+00:00,14,6,"#Parent, #Woman Owned Biz",female,irregular,2016-04-19
71463,1285766,500,500,Water Distribution,Services,to purchase a water tank and materials for mak...,KE,Kenya,Likoni,KES,164.0,2017-04-25 11:53:14+00:00,2017-03-29 07:00:00+00:00,2017-05-02 07:06:15+00:00,12,20,"#Parent, #Woman Owned Biz, user_favorite",female,irregular,2017-04-25
4,1080150,125,125,Energy,Services,purchase solar lanterns for resale.,KE,Kenya,NaN,KES,NaN,2014-01-02 08:48:38+00:00,2014-01-30 01:42:21+00:00,2014-01-23 13:35:59+00:00,3,6,NaN,male,irregular,2014-01-02
60518,1191997,675,675,Farming,Agriculture,to purchase a solar light and gain access to c...,KE,Kenya,Sirisia,KES,202.0,2016-11-24 06:37:28+00:00,2017-02-01 08:00:00+00:00,2016-12-28 14:09:52+00:00,11,8,"#Sustainable Ag, #Eco-friendly, #Schooling, #E...","male, female, male, male, female, male, male",bullet,2016-11-24
650,659059,600,600,Food,Food,"to add stock of tomatoes, onions, beans, and g...",KE,Kenya,Kericho,KES,138.0,2014-01-18 20:34:00+00:00,2014-01-17 08:00:00+00:00,2014-01-19 02:54:50+00:00,14,21,"#Woman Owned Biz, #Vegan, #Single Parent",female,monthly,2014-01-18
56448,1150170,500,500,Retail,Retail,"to buy more stock of flour, soda, sugar, bread...",KE,Kenya,Maua,KES,138.0,2016-09-14 09:37:57+00:00,2016-09-09 07:00:00+00:00,2016-10-11 21:11:07+00:00,14,19,"#Woman Owned Biz, #Parent, #First Loan, #Schoo...",female,monthly,2016-09-14
17988,805187,1275,1275,Farming,Agriculture,NaN,KE,Kenya,NaN,KES,202.0,2014-11-25 11:45:39+00:00,2015-02-01 08:00:00+00:00,2014-11-30 05:07:26+00:00,2,46,user_favorite,NaN,bullet,2014-11-25
28918,885415,75,625,Restaurant,Food,to buy more utensils,KE,Kenya,Machakos,KES,133.0,2015-05-14 09:49:26+00:00,2015-04-17 07:00:00+00:00,NaN,14,3,"#Elderly, #Parent, #Repeat Borrower",male,monthly,2015-05-14
34186,927122,675,800,Services,Services,to support her business.\n,KE,Kenya,Nakuru,KES,138.0,2015-08-03 08:56:59+00:00,2015-07-27 07:00:00+00:00,NaN,14,9,"#Repeat Borrower, #Technology, #Parent",female,monthly,2015-08-03
20762,826912,225,225,Farming,Agriculture,To grow her horticulture business,KE,Kenya,Kerugoya,KES,156.0,2015-01-12 09:11:29+00:00,2015-01-05 08:00:00+00:00,2015-01-17 21:28:43+00:00,14,4,"#Animals, #Vegan, #Parent, #Inspiring Story, #...",female,monthly,2015-01-12
68513,1260127,500,500,General Store,Retail,"to purchase stock of wheat flour, maize flour,...",KE,Kenya,Changamwe,KES,164.0,2017-03-17 13:42:16+00:00,2017-02-27 08:00:00+00:00,2017-03-26 23:46:02+00:00,14,19,"#Parent, #Woman Owned Biz, #Vegan",female,irregular,2017-03-17
41997,1001867,100,100,Fruits & Vegetables,Food,to buy more stock of vegetables to sell.,KE,Kenya,Ngara,KES,138.0,2015-12-29 20:41:49+00:00,2015-12-18 08:00:00+00:00,2015-12-30 09:15:32+00:00,8,3,"volunteer_pick, #Repeat Borrower, #Parent, #Vegan",male,monthly,2015-12-29
29438,888996,225,225,Furniture Making,Manufacturing,To buy timber that will boost his carpentry bu...,KE,Kenya,Thika,KES,388.0,2015-05-21 04:55:55+00:00,2015-04-20 07:00:00+00:00,2015-05-24 23:22:38+00:00,14,6,NaN,male,monthly,2015-05-21
4497,692863,1225,1225,Farming,Agriculture,to buy a piece of land to improve and expand h...,KE,Kenya,Nyahururu,KES,133.0,2014-04-03 09:45:52+00:00,2014-03-20 07:00:00+00:00,2014-05-05 00:49:05+00:00,14,41,"user_favorite, #Biz Durable Asset, #Parent, #R...",male,monthly,2014-04-03
65458,1230950,100,100,General Store,Retail,"to buy more stock of sugar, bread, flour, soap...",KE,Kenya,Nakuru,KES,138.0,2017-02-02 05:23:27+00:00,2017-01-27 08:00:00+00:00,2017-02-03 03:10:11+00:00,8,4,"volunteer_pick, #Parent, #Woman Owned Biz",female,monthly,2017-02-02
22347,1087379,100,100,Grocery Store,Food,buy potatoes and tomatoes to sell in my stall,KE,Kenya,NaN,KES,NaN,2015-02-10 08:57:10+00:00,2015-05-14 09:23:00+00:00,2015-04-15 00:33:14+00:00,2,13,NaN,female,weekly,2015-02-10
15691,1085153,125,125,Services,Services,buy more materials,KE,Kenya,NaN,KES,NaN,2014-11-01 12:50:18+00:00,2014-11-19 07:46:03+00:00,2014-11-13 17:50:24+00:00,2,9,NaN,female,irregular,2014-11-01
28289,879904,325,325,Farming,Agriculture,to purchase dairy goats to raise as an additio...,KE,Kenya,Ndaragwa,KES,156.0,2015-05-05 06:40:24+00:00,2015-05-07 07:00:00+00:00,2015-05-18 20:18:07+00:00,16,12,user_favorite,male,monthly,2015-05-05
46560,1036527,475,1025,Farming,Agriculture,to buy cost efficient maize seeds and fertiliz...,KE,Kenya,Teso,KES,202.0,2016-03-10 12:52:13+00:00,2016-02-25 08:00:00+00:00,NaN,11,11,"#Eco-friendly, #Sustainable Ag, #Technology, #...","male, male, male, male, female, male, male, ma...",bullet,2016-03-10
61454,1199020,925,925,Farming,Agriculture,to purchase a solar light and gain access to c...,KE,Kenya,Matete,KES,202.0,2016-12-06 07:20:21+00:00,2017-02-01 08:00:00+00:00,2016-12-31 13:27:44+00:00,11,14,"#Sustainable Ag, #Eco-friendly, #Parent, #Tech...","female, male, female, male, female, male, fema...",bullet,2016-12-06
60829,1195554,325,400,Fish Selling,Food,to add stock of fish.,KE,Kenya,Kisumu,KES,386.0,2016-11-29 13:34:36+00:00,2016-11-17 08:00:00+00:00,NaN,14,10,"#Single, #Supporting Family, #Repeat Borrower,...",male,irregular,2016-11-29
13475,777336,125,125,Farming,Agriculture,To buy fertilizer for his farm,KE,Kenya,Limuru,KES,388.0,2014-10-01 05:35:33+00:00,2014-09-02 07:00:00+00:00,2014-10-05 15:15:44+00:00,8,1,NaN,male,monthly,2014-10-01
2185,671876,475,475,Cereals,Food,to purchase sacks of maize for resale.,KE,Kenya,Tiribe,KES,164.0,2014-02-18 10:01:13+00:00,2014-02-13 08:00:00+00:00,2014-03-13 00:46:06+00:00,13,15,"#Fabrics, #Schooling, #Vegan, #First Loan, #Wo...",female,irregular,2014-02-18
24266,853080,675,675,Farming,Agriculture,to purchase a solar light and gain access to c...,KE,Kenya,Kakamega North,KES,202.0,2015-03-10 09:59:41+00:00,2015-02-28 08:00:00+00:00,2015-03-24 09:40:12+00:00,11,23,"#Eco-friendly, #Woman Owned Biz, #Vegan, #Tech...","male, female, female, female, male, female",bullet,2015-03-10
24174,852990,275,275,Dairy,Agriculture,to buy a dairy cow so as to meet his clients' ...,KE,Kenya,Kisii,KES,133.0,2015-03-10 08:23:50+00:00,2015-04-01 07:00:00+00:00,2015-03-21 00:17:24+00:00,10,10,"#Animals, #Elderly, #First Loan, #Parent",male,monthly,2015-03-10
50542,1074394,300,300,Farming,Agriculture,to expand her horticulture farming.,KE,Kenya,Nkubu,KES,156.0,2016-05-24 09:04:09+00:00,2016-05-26 07:00:00+00:00,2016-05-29 14:00:17+00:00,14,12,"#Schooling, user_favorite",female,monthly,2016-05-24
75448,1332065,125,300,Farming,Agriculture,to buy new farming tools and equipment.,KE,Kenya,Eldoret,KES,156.0,2017-07-03 10:38:05+00:00,2017-07-30 07:00:00+00:00,NaN,13,5,NaN,female,monthly,2017-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13130,774891,575,575,Clothing Sales,Clothing,to purchase two bales of clothes for resale.,KE,Kenya,Likoni,KES,164.0,2014-09-25 13:42:28+00:00,2014-09-18 07:00:00+00:00,2014-10-26 06:53:35+00:00,14,22,"#Woman Owned Biz, #Parent",female,irregular,2014-09-25
54316,1129099,500,500,Metal Shop,Manufacturing,To buy metal and welding rods.,KE,Kenya,Narok,KES,386.0,2016-08-04 09:54:10+00:00,2016-07-06 07:00:00+00:00,2016-08-17 15:53:56+00:00,11,16,"#Elderly, #Parent, #First Loan, user_favorite",male,irregular,2016-08-04
49745,1065606,400,400,Fruits & Vegetables,Food,"to buy more stocks of oranges, tomatoes, onion...",KE,Kenya,Taveta,KES,138.0,2016-05-06 13:29:02+00:00,2016-04-23 07:00:00+00:00,2016-05-10 02:09:19+00:00,14,7,NaN,female,monthly,2016-05-06
50534,1074581,300,300,Bakery,Food,to buy wheat flour and raisins.,KE,Kenya,Kericho,KES,386.0,2016-05-24 14:26:44+00:00,2016-05-11 07:00:00+00:00,2016-06-09 17:37:03+00:00,14,11,"#Repeat Borrower, #Parent",male,irregular,2016-05-24
58818,1178620,500,500,Home Products Sales,Retail,to buy more beddings to sell.,KE,Kenya,Bomet,KES,386.0,2016-11-02 06:58:42+00:00,2016-10-19 07:00:00+00:00,2016-12-11 13:14:26+00:00,11,14,"#Parent, #Woman Owned Biz, #Eco-friendly, #Fir...",female,irregular,2016-11-02
46027,1032044,725,725,Farming,Agriculture,to buy cost efficient maize seeds and fertiliz...,KE,Kenya,Chwele,KES,202.0,2016-03-02 07:43:25+00:00,2016-02-25 08:00:00+00:00,2016-03-27 16:37:37+00:00,11,27,"#Eco-friendly, #Sustainable Ag, #Technology, #...","male, female, female, male, male, male, male, ...",bullet,2016-03-02
13204,775302,450,450,Tailoring,Services,to purchase cloth materials and sewing thread ...,KE,Kenya,Kaloleni,KES,164.0,2014-09-26 07:00:30+00:00,2014-09-11 07:00:00+00:00,2014-10-01 07:01:05+00:00,13,18,user_favorite,female,irregular,2014-09-26
46059,1031966,700,950,Services,Services,to buy more trolleys.,KE,Kenya,Bungoma,KES,138.0,2016-03-02 06:41:01+00:00,2016-02-27 08:00:00+00:00,NaN,14,14,"#Repeat Borrower, #Parent, #Biz Durable Asset",male,monthly,2016-03-02
36779,947308,475,475,Farming,Agriculture,to buy seeds and manure.,KE,Kenya,Kilifi,KES,138.0,2015-09-14 12:56:52+00:00,2015-08-31 07:00:00+00:00,2015-09-24 19:45:20+00:00,14,19,"user_favorite, #Repeat Borrower, #Parent, #Veg...",female,monthly,2015-09-14
49219,1058710,100,100,Farming,Agriculture,To buy certified seeds and fertilizer so as to...,KE,Kenya,Nakuru West,KES,388.0,2016-04-22 05:52:57+00:00,2016-04-05 07:00:00+00:00,2016-04-26 21:41:50+00:00,14,1,#Schooling,female,monthly,2016-04-22
24897,856653,175,175,Fruits & Vegetables,Food,"To purchase mangoes, vegetables, onions and po...",KE,Kenya,Voi,KES,133.0,2015-03-17 10:15:09+00:00,2015-03-04 08:00:00+00:00,2015-03-22 13:23:09+00:00,8,7,NaN,female,monthly,2015-03-17
56862,1155186,400,400,General Store,Retail,"to buy more stock of flour, sugar, soda and ot...",KE,Kenya,Taveta,KES,138.0,2016-09-22 05:36:31+00:00,2016-09-20 07:00:00+00:00,2016-10-25 17:29:25+00:00,14,15,"#Woman Owned Biz, #Parent, #Repeat Borrower",female,monthly,2016-09-22
66642,1242796,100,100,Farming,Agriculture,to buy farm inputs for maize farming.,KE,Kenya,Kitale,KES,138.0,2017-02-21 05:15:22+00:00,2017-02-18 08:00:00+00:00,2017-02-26 17:07:32+00:00,8,4,"#Parent, #Woman Owned Biz",female,monthly,2017-02-21
27556,874772,700,700,Agriculture,Agriculture,to purchase a solar light and gain access to c...,KE,Kenya,Matete-,KES,202.0,2015-04-23 12:01:49+00:00,2015-03-30 07:00:00+00:00,2015-05-29 15:38:12+00:00,10,20,"#Elderly, #Eco-friendly, #Sustainable Ag, #Veg...","female, female, female, female, female, female...",bullet,2015-04-23
72172,1293306,400,400,General Store,Retail,"to buy more stock of sugar, bread, soap, and o...",KE,Kenya,Mombasa,KES,138.0,2017-05-05 12:35:02+00:00,2017-04-26 07:00:00+00:00,2017-06-07 16:07:55+00:00,14,9,#Woman Owned Biz,female,monthly,2017-05-05
10325,753807,1025,1025,Dairy,Agriculture,to purchase an extra Dairy cow and improve he...,KE,Kenya,Kiambu,KES,386.0,2014-08-13 14:10:40+00:00,2014-07-31 07:00:00+00:00,2014-08-30 20:28:09+00:00,15,36,NaN,female,irregular,2014-08-13
20119,822563,1350,1350,Health,Health,To ensure that the community has access to saf...,KE,Kenya,NDHIWA,USD,324.0,2014-12-30 15:01:11+00:00,2014-12-24 08:00:00+00:00,2014-12-31 18:25:31+00:00,73,37,NaN,"male, female, female",irregular,2014-12-30
27592,1088539,125,125,Grocery Store,Food,add more stock to my busines,KE,Kenya,NaN,KES,NaN,2015-04-24 07:44:13+00:00,2015-05-28 15:07:00+00:00,2015-05-14 05:40:38+00:00,2,13,NaN,female,weekly,2015-04-24
22362,838463,675,675,Farming,Agriculture,to buy goats of a good quality breed.,KE,Kenya,Chuka,KES,156.0,2015-02-10 12:27:09+00:00,2015-02-17 08:00:00+00:00,2015-02-18 14:31:08+00:00,16,26,"#Animals, #Single Parent, #Schooling, #Woman O...",female,monthly,2015-02-10
52728,1111014,200,200,General Store,Retail,"to purchase stock of sugar, rice, maize flour ...",KE,Kenya,Mikinduri,KES,164.0,2016-07-04 05:44:39+00:00,2016-06-30 07:00:00+00:00,2016-07-19 06:34:06+00:00,14,6,"#Parent, #Woman Owned Biz",female,irregular,2016-07-04
46811,1038047,650,650,Cereals,Food,to buy cereals.,KE,Kenya,Nandi Hills,KES,156.0,2016-03-14 08:57:38+00:00,2016-03-07 08:00:00+00:00,2016-04-11 19:15:34+00:00,20,21,#Parent,female,monthly,2016-03-14
74545,1320286,0,1475,Hardware,Retail,"to buy more stock of timber, iron sheets and o...",KE,Kenya,Busia,KES,138.0,2017-06-15 06:40:29+00:00,2017-06-05 07:00:00+00:00,NaN,14,0,"#Parent, #Repeat Borrower, #Woman Owned Biz",female,monthly,2017-06-15
27455,874622,275,275,Farming,Agriculture,to buy a dairy cow allowing him to supply milk...,KE,Kenya,Kisii,KES,133.0,2015-04-23 08:45:35+00:00,2015-03-31 07:00:00+00:00,2015-05-07 20:16:48+00:00,12,10,"#Elderly, #Animals, #Parent, #Schooling, #Biz ...",male,monthly,2015-04-23
50961,1091351,200,800,Electrician,Services,to buy better sound system equipment.,KE,Kenya,Kericho,KES,386.0,2016-05-30 07:21:50+00:00,2016-05-26 07:00:00+00:00,NaN,14,8,"#Parent, #Biz Durable Asset",male,irregular,2016-05-30
4478,1080905,375,375,Grocery Store,Food,open another butchery outlet.,KE,Kenya,NaN,KES,NaN,2014-04-03 11:31:15+00:00,2014-04-09 09:21:05+00:00,2014-04-04 02:28:08+00:00,9,3,NaN,female,irregular,2014-04-03
55532,1140333,300,300,Electrical Goods,Retail,to purchase phone accessories,KE,Kenya,Mariakani,KES,133.0,2016-08-26 09:40:43+00:00,2016-08-16 07:00:00+00:00,2016-09-26 12:16:41+00:00,14,10,"#Technology, #Parent, #Repeat Borrower",male,monthly,2016-08-26
54794,1133178,500,500,Farming,Agriculture,to buy farm implements.,KE,Kenya,Kitale,KES,156.0,2016-08-15 08:54:17+00:00,2016-08-08 07:00:00+00:00,2016-09-14 16:19:06+00:00,14,16,"#Repeat Borrower, #Parent",female,monthly,2016-08-15
75211,1329591,0,300,Farming,Agriculture,\tto buy farm inputs such as fertilizer and se...,KE,Kenya,Kerugoya,KES,156.0,2017-06-29 09:23:28+00:00,2017-06-27 07:00:00+00:00,NaN,14,0,"#Parent, #Woman Owned Biz",female,monthly,2017-06-29
12558,770644,575,575,Fruits & Vegetables,Food,to buy more stock of potatoes,KE,Kenya,Nakuru,KES,138.0,2014-09-18 05:53:51+00:00,2014-09-10 07:00:00+00:00,2014-10-01 04:37:13+00:00,14,5,"#Parent, #Repeat Borrower, #Vegan, #Woman Owne...",female,monthly,2014-09-18
69139,1264730,500,500,Farming,Agriculture,"to buy fertilizers, pesticides and herbicides",KE,Kenya,Kitale,KES,156.0,2017-03-23 06:47:38+00:00,2017-03-21 07:00:00+00:00,2017-04-27 13:58:17+00:00,20,13,"#Woman Owned Biz, #Parent, #Schooling",female,monthly,2017-03-23

### 1) Type Checking
<a id='type_check'></a>

Type is very important in Python programing, because it affects the types of functions you can apply to a series. There are a few different types of data you will see regularly (see [this](https://en.wikibooks.org/wiki/Python_Programming/Data_Types) link for more detail):
* **int** - a number with no decimal places. example: loan_amount field
* **float** - a number with decimal places. example: partner_id field
* **str** - str is short for string. This type formally defined as a sequence of unicode characters. More simply, string means that the data is treated as a word, not a number. example: sector
* **boolean** - can only be True or False. There is not currently an example in the data, but we will be creating a gender field shortly.
* **datetime** - values meant to hold time data. Example: posted_date

Let's check the type of our variables using the examples we saw in the cell above.

In [5]:
# Here are all of the columns
kiva_loans.columns.tolist()

['id',
 'funded_amount',
 'loan_amount',
 'activity',
 'sector',
 'use',
 'country_code',
 'country',
 'region',
 'currency',
 'partner_id',
 'posted_time',
 'disbursed_time',
 'funded_time',
 'term_in_months',
 'lender_count',
 'tags',
 'borrower_genders',
 'repayment_interval',
 'date']

In [56]:
# Find the dtype, aka datatype, for a column
df['id_number'].dtype

dtype('int64')

In [57]:
# Try this - Pick a couple of columns and check their type on your own

### 2) Do I have missing values?

<a id='missing_check'></a>

Missing data in the training data set can reduce the power / fit of a model or can lead to a biased model because we have not analysed the behavior and relationship with other variables correctly. It can lead to wrong prediction or classification.

If we have missing data, is the missing data at random or not? If data is missing at random, the data distribution is still representative of the population. You can probably ignore the missing values as an inconvenience. However, if the data is systematically missing, the analysis you do may be biased. You should carefully consider the best way to clean the data, it may involve dropping some data.

We want to see how many values are missing in certain variable columns. One way to do this is to count the number of null observations. 

For this, we wrote a short function to apply to the dataframe. 

We print out the first few observations, but you can remove the .head() to print out all columns.

In [9]:
#Create a new function:
def num_missing(x):
    return sum(x.isnull())

#Applying per column:
# print("Missing values per column:")
## Check how many are missing by column, and then check which ones have any missing values
# print(df.apply(num_missing, axis=0).where(lambda x : x != 0).dropna()) 
print(kiva_loans.apply(num_missing,axis=0))
#axis=0 defines that function is to be applied on each column

id                        0
funded_amount             0
loan_amount               0
activity                  0
sector                    0
use                     713
country_code              0
country                   0
region                 8752
currency                  0
partner_id             8372
posted_time               0
disbursed_time          381
funded_time            5446
term_in_months            0
lender_count              0
tags                  23186
borrower_genders        712
repayment_interval        0
date                      0
dtype: int64

In [59]:
#checking the % of missing values
total = df.isnull().sum().sort_values(ascending = False)

percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending = False)

missing_kiva_loans_data  = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_kiva_loans_data

                       Total   Percent
funded_date              937  0.155674
use                      342  0.056820
description              342  0.056820
location_country_code     17  0.002824
sector                     0  0.000000
repayment_term             0  0.000000
funded_amount              0  0.000000
status                     0  0.000000
lender_count               0  0.000000
loan_amount                0  0.000000
id_number                  0  0.000000

### 3) Sanity Checks
<a id='obs_check'></a>

**Does the dataset match what you expected to find?**
- is the range of values what you would expect. For example, are all loan_amounts above 0.
- do you have the number of rows you would expect
- is your data for the date range what you would expect. For example, is there a strange year in the data like 1880.
- are there unexpected spikes when you plot the data over time


In the command below we find out the number of rows and number of columns by using the function shape. You can also use len(df.index) to find the number of rows.

In [60]:
print(f'There are {df.shape[0]} observations and {df.shape[1]} features')

There are 6019 observations and 11 features

Remember, each row is an observation and each column is a potential feature. 

Remember we need a large amount of data for machine learning.

### 4) Descriptive statistics of the dataset

<a id='desc_stats'></a>

In [61]:
#Try out - Write code that provides key summary statistics for each numeric column.

In order to get the same summary statistics for categorical columns (string) we need to do a little data wrangling. The first line of code filters for all columns that are a data type object. As we know from before this means they are considered to be a string. The final row of code provides summary statistics for these character fields.

In [10]:
categorical = kiva_loans.dtypes[kiva_loans.dtypes == "object"].index
kiva_loans[categorical].describe()

,activity,sector,use,country_code,country,region,currency,posted_time,disbursed_time,funded_time,tags,borrower_genders,repayment_interval,date
count,75825,75825,75112,75825,75825,67073,75825,75825,75444,70379,52639,75113,75825,75825
unique,143,15,38572,1,1,393,2,75737,2375,63848,12928,5349,4,1117
top,Farming,Agriculture,to buy a solar lantern.,KE,Kenya,Kisii,KES,2017-04-27 11:53:12+00:00,2017-02-01 08:00:00+00:00,2015-03-18 06:46:14+00:00,"#Parent, #Woman Owned Biz",female,monthly,2016-11-18
freq,20555,33644,880,75825,75825,3546,75311,2,2496,14,2977,49719,46230,456

In [63]:
#Try out - What's the other way one can obtain the information above?

In the table above, there are 4 really useful fields: 

1) **count** - total number of fields populated (Not empty). 

2) **unique** - tells us how many different unique ways this field is populated.

3) **top** - tells us the most popular data point.

4) **freq** - tells us that how frequent the most popular category is in our dataset.

What is next
-----

In the next section, we move on to exploratory data analysis (EDA).

<br>
<br> 
<br>

----